
# Project
node_modules/
bower_components/
platforms/
plugins/
report/

.svn/
**/.svn/

# IntelliJ specific #
.idea

# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
